.entry {
  background-image: url("../assets/images/home-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.entry--header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 15vh;
  padding: 0 64px;
}

.sponsor--btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  text-decoration: none;

  padding: 1rem 2.5rem;
  border-radius: 4px;
}

.entry--main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.entry--zott-logo {
  max-width: 50%;
  min-width: 500px;
}

.entry--events-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.events-logos {
  width: 136px;
  margin: 0 32px;
}

.section-1 {
  background-image: url("../assets/images/home-bg-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 3800px; */

  position: relative;
}

.event-1 {
  padding: 140px 0;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
}

.persona-1 {
  width: 60%;
  border-radius: 0 4px 4px 0;
}

.event-1 .card {
  width: 45%;
  border-radius: 4px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: -200px;
}

.event-1-logo {
  width: 40%;
}

.event-1 .event-btn {
  padding: 1rem 2.5rem;
  border: 2px solid #000;
  border-radius: 4px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;

  margin-bottom: 50px;
}

.event-2 {
  padding-bottom: 140px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.persona-2 {
  width: 50%;
  border-radius: 4px;

  margin-left: -100px;
}

.event-2 .card {
  width: 45%;
  border-radius: 4px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.event-2-logo {
  width: 55%;
}

.event-2 .event-btn {
  padding: 1rem 2.5rem;
  border: 2px solid #000;
  border-radius: 4px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;

  margin-top: -30px;
  margin-bottom: 50px;
}

.about {
  padding-bottom: 140px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about--content-container {
  width: 70%;
  border-radius: 0 4px 4px 0;
  background-color: #f13004;
}

.about--title {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  width: 300px;
  line-height: 1;
  padding: 9rem 8rem 4rem 8rem;
}

.about--content {
  font-size: 2rem;
  color: #fff;
  padding: 0 8rem 9rem 8rem;
}

.persona-3 {
  width: 50%;
  border-radius: 4px 0 0 4px;

  margin-left: -100px;
}

.footer--container {
  width: 100%;
  height: 500px;
  background-color: #0d4aad;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.line-decorator {
  border: 1px solid #2d2d2d;
  width: 900px;
  height: 1px;
}

/* Hide all mobile displays */
.about-mobile,
.event-1-mobile,
.event-2-mobile {
  display: none;
}

@media (max-width: 1600px) {
  .about--title {
    font-size: 2.5rem;
    padding: 4rem;
  }

  .about--content {
    font-size: 1.5rem;
    padding: 0 8rem 8rem 4rem;
  }
}

@media (max-width: 900px) {
  .line-decorator {
    width: 80%;
  }

  .about--title {
    font-size: 1.5rem;
    padding: 3.5rem 0 2rem 4rem;
  }

  .about--content {
    font-size: 1rem;
    padding: 0 8rem 3.5rem 4rem;
  }

  .persona-3 {
    width: 45%;
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .entry {
    background-position: 30%;
  }

  .entry--header {
    padding: 0 32px;
  }

  .event-1 {
    justify-content: center;
  }

  .persona-1 {
    border-radius: 4px;
  }

  .event-1 .card {
    margin-left: -140px;
  }

  .event-1-logo {
    width: 50%;
  }

  .event-1 .event-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;

    margin-bottom: 24px;
  }

  .persona-2 {
    margin-left: -80px;
  }

  .event-2-logo {
    width: 65%;
  }

  .event-2 .event-btn {
    margin-top: -30px;

    padding: 0.5rem 1rem;
    font-size: 1rem;

    margin-bottom: 24px;
  }
}

@media (max-width: 680px) {
  .sponsor--btn {  
    padding: 1rem 2rem;
    font-size: 0.875rem;
  }

  .about--title {
    padding: 2.5rem 0 2rem 2rem;
  }

  .about--content {
    padding: 0 4.5rem 2.5rem 2rem;
  }

  .persona-3 {
    width: 40%;
    margin-left: -50px;
  }

  .footer--container {
    height: 200px;
    gap: 32px;
  }

  .social-media-logo {
    width: 32px;
  }
}

@media (max-width: 520px) {
  .event-1,
  .event-2,
  .about { 
    display: none;
  }

  .entry--zott-logo {
    min-width: 80%;
  }

  .event-1-mobile,
  .event-2-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .event-1-mobile .card,
  .event-2-mobile .card {
    position: relative;
    width: 90%;
    border-radius: 4px;
  
    background-image: url(../assets/images/home-persona-1.jpg);
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 60px 0;
  }

  .event-2-mobile .card {
    background-image: url(../assets/images/home-persona-2.jpg);
    margin: 0 0 60px 0;
  }

  .event-1-mobile .card::after,
  .event-2-mobile .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    z-index: 1;
  }

  .event-1-mobile-logo,
  .event-2-mobile-logo {
    position: relative;
    z-index: 2;
    width: 80%;
  }
  
  .event-1-mobile .event-btn,
  .event-2-mobile .event-btn {
    position: relative;
    z-index: 2;

    padding: 0.5rem 2rem;
    border: 2px solid #000;
    border-radius: 4px;
  
    text-decoration: none;
    font-weight: 600;
    color: #000;
  
    margin-top: -30px;
    margin-bottom: 24px;
  }

  .about-mobile {
      padding-bottom: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .about-mobile--content-container {
    width: 90%;
    border-radius: 4px;
    background-image: url(../assets/images/home-persona-3.jpg);
    background-size: cover;
    position: relative;
  }

  .about-mobile--content-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 48, 4, 0.9);
    border-radius: 4px;
    z-index: 1;
}


  .about-mobile--title {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    padding: 2rem 1rem;
  }
  
  .about-mobile--content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 0 1rem 2rem 1rem;
  }

  .line-decorator {
    width: 90%;
  }
}