.entry {
  background-image: url("../assets/images/home-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.entry--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0 64px;
}

.sponsor--btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;

  padding: 1.5rem;
  border-radius: 999px;
}

.entry--main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.entry--zott-logo {
  max-width: 50%;
  min-width: 500px;
}

.entry--events-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.events-logos {
  width: 136px;
  margin: 0 32px;
}

.section-1 {
  background-image: url("../assets/images/home-bg-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 3800px;

  position: relative;
}

.persona-1 {
  width: 950px;

  position: absolute;
  top: 15%;
}

.event-1 .card{
  width: 950px;
  height: 550px;

  position: absolute;
  top: 17.3%;
  right: 15%;

  background-color: #fff;
}

.event-1-logo {
  width: 450px;

  position: absolute;

  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-1 .event-btn {
  text-decoration: none;
  padding: 1rem 2.5rem;
  border: 2px solid #000;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;

  position: absolute;

  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.persona-2 {
  width: 950px;

  position: absolute;
  top: 55%;
  right: 5%;
}

.event-2 .card{
  width: 950px;
  height: 550px;

  position: absolute;
  top: 57%;
  left: 5%;

  background-color: #fff;
}

.event-2-logo {
  width: 550px;

  position: absolute;

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-2 .event-btn {
  text-decoration: none;
  padding: 1rem 2.5rem;
  border: 2px solid #000;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;

  position: absolute;

  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}