.meuforro--logo {
  position: relative;
  z-index: 2;
}

.meuforro-p1 {
  background-position-y: top;
}

.meuforro--content {
  background-image: url("../assets/images/meu-forro-content-bg.png");
}

.header-icon {
  position: absolute;
  left: 50px;
  top: 40px;
  width: 50px;
  height: 50px;
}
