.nossavibe--entry {
  background-image: url("../assets/images/nossa-vibe-entry-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.nossavibe--entry::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nossavibe--entry-header,
.nossavibe--logo {
  position: relative;
  z-index: 2;
}

.nossavibe--entry-header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  padding: 0 64px;
  height: 15svh;
}

.nossavibe--content {
  background-image: url("../assets/images/nossa-vibe-content-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nossavibe--card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 64px;

  width: 1200px;
  padding: 64px;
  /* background-color: green; */
}

.nossavibe--card:nth-child(even) {
  margin-top: 64px;
}

.nossavibe--card {
  width: 500px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
}

.nossavibe--img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px 4px 0 0;
}

.nossavibe--card-description {
  padding: 32px 16px;
}

.nossavibe--card-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.nossavibe--card-decorator {
  width: 94%;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 2px;
}

.decorator-blue {
  background-color: #355e9a;
}

.decorator-yellow {
  background-color: #f6e036;
}

.decorator-orange {
  background-color: #e37e39;
}

@media (max-width: 1192px) {
  .nossavibe--card-container {
    width: 600px;
    padding: 32px;
  }

  .nossavibe--card:nth-child(even),
  .nossavibe--card:nth-child(odd) {
    margin-top: 32px;
  }

  .nossavibe--card {
    width: 350px;
  }

  .nossavibe--img {
    width: 350px;
    height: 350px;
  }

  .nossavibe--card-description {
    padding: 24px 16px;
  }

  .nossavibe--card-decorator {
    height: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .nossavibe--entry-header {
    justify-content: center;
    padding: 0 16px;
  }
}

@media (max-width: 680px) {
  .nossavibe--entry {
    height: auto;
  }

  .nossavibe--card-container {
    width: 360px;
    padding: 32px;
  }
}
