.nossavibe--entry {
  background-image: url("../assets/images/nossa-vibe-entry-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.nossavibe--entry::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nossavibe--entry-header,
.nossavibe--logo {
  position: relative;
  z-index: 2;
}

.nossavibe--entry-header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  padding: 0 64px;
  height: 15svh;
}

.nossavibe--content {
  background-image: url("../assets/images/nossa-vibe-content-bg.png");
  background-size: cover;
  /* background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.nossavibe--card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 64px;

  width: 1200px;
  padding: 64px;
  /* background-color: green; */
}

.nossavibe--card:nth-child(even) {
  margin-top: 64px;
}

.nossavibe--card {
  width: 500px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
}

.nossavibe--img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px 4px 0 0;
}

.nossavibe--card-description {
  padding: 32px 16px;
}

.nossavibe--card-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.nossavibe--card-decorator {
  width: 94%;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 2px;
}

.decorator-blue {
  background-color: #355e9a;
}

.decorator-yellow {
  background-color: #f6e036;
}

.decorator-orange {
  background-color: #e37e39;
}

.nossavibe-lineup {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.nossavibe-lineup-title {
  font-family: "Monoton";
  font-size: 8rem;
  color: #fff;
  margin: 4rem 0;
}

.nossavibe-lineup-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 60%;
  margin-bottom: 3rem;

  /* background-color: yellow; */
}

.nossavibe-lineup-img {
  width: 329px;
  height: 294px;
  object-fit: cover;
  object-position: center;
}

.nossavibe-lineup-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  color: #121212;
}

.nossavibe-lineup-description-djname {
  font-weight: 700;
}

.nossavibe-video-map-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 2rem 0 6rem 0;
}

.nossavibe-iframe-video {
  border-radius: 4px;
  width: 324px;
  height: 576px;
}

.nossavibe-iframe-map {
  border-radius: 4px;
  width: 676px;
  height: 576px;
}

@media (max-width: 1280px) {
  .nossavibe-lineup-card {
    width: 80%;
  }
}

@media (max-width: 1192px) {
  .nossavibe--card-container {
    width: 600px;
    padding: 32px;
  }

  .nossavibe--card:nth-child(even),
  .nossavibe--card:nth-child(odd) {
    margin-top: 32px;
  }

  .nossavibe--card {
    width: 350px;
  }

  .nossavibe--img {
    width: 350px;
    height: 350px;
  }

  .nossavibe--card-description {
    padding: 24px 16px;
  }

  .nossavibe--card-decorator {
    height: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1024px) {
  .nossavibe-lineup-title {
    font-size: 6rem;
    margin: 4rem 0;
  }

  .nossavibe-lineup-card {
    flex-direction: column;
  }

  .nossavibe-lineup-card-2 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .nossavibe--entry-header {
    justify-content: center;
    padding: 0 16px;
  }

  .nossavibe-video-map-container {
    gap: 2rem;
  }
}

@media (max-width: 680px) {
  .nossavibe--entry {
    height: auto;
  }

  .nossavibe--card-container {
    width: 360px;
    padding: 32px;
  }

  .nossavibe--img {
    width: 350px;
    height: 250px;
  }

  .nossavibe-lineup-card {
    width: 100%;
  }

  .nossavibe-lineup-title {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }

  .nossavibe-lineup-img {
    width: 100%;
    height: 250px;
  }

  .nossavibe-lineup-description {
    font-size: 1rem;
  }

  .nossavibe-video-map-container {
    flex-direction: column;
    gap: 4rem;
  }

  .nossavibe-iframe-video {
    border-radius: 4px;
    width: 324px;
    height: 576px;
  }

  .nossavibe-iframe-map {
    width: 324px;
    height: 250px;
  }
}
