/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title {
  background-color: #e27e39;
}

.title-text {
  font-family: "Monoton", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  word-spacing: 1.5rem;
}

.entry--header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 15vh;
}

.sponsor--btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

.entry--main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titulo {
  font-size: 10rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-container {
  width: 80%;
}

.orange-container {
  background-color: #e27e39;
}

.event-1 {
  display: flex;
  align-items: center;
}

.event-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.brown-container {
  background-color: #ff6131;
}

.card {
  width: 500px;
  height: 500px;
  background-image: url(../assets/images/home-persona-2.jpg);
  margin-left: 50px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  z-index: 1;
}

.card img {
  max-width: 60%;
  max-height: 60%;
  z-index: 2;
}

.explicativo {
  flex: 1;
  font-size: 30px;
  padding-left: 50px;
  font-weight: 400;
  padding-right: 10px;
}

.card2 {
  width: 500px;
  height: 500px;
  background-image: url(../assets/images/home-persona-2.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  z-index: 1;
}

.card2 img {
  max-width: 60%;
  max-height: 60%;

  z-index: 2;
}

.explicativo2 {
  flex: 1;
  font-size: 30px;
  padding-left: 50px;
  font-weight: 400;
  padding-right: 10px;
}

.footer--container {
  width: 100%;
  height: 500px;
  background-color: #0d4aad;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.line-decorator {
  border: 1px solid #2d2d2d;
  width: 900px;
  height: 1px;
}

@media (max-width: 520px) {
  .entry {
    background-position: 65%;
  }
  .entry--header {
    justify-content: center;
    padding: 0;
  }

  .titulo {
    font-size: 2.5rem;
  }

  .title-text {
    font-size: 2rem;
  }

  .sponsor--btn {
    padding: 1rem 1rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
  }

  .card-mobile {
    height: auto;
    border: #b14e10 solid 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card,
  .card2 {
    width: 90%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
  }

  .explicativo,
  .explicativo2 {
    padding: 20px;
    font-size: 1.2rem;
  }

  .explicativo p,
  .explicativo2 p {
    padding: 0px;
  }

  .event-1,
  .event-2 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer--container {
    height: 200px;
    gap: 32px;
  }

  .social-media-logo {
    width: 32px;
  }
  .line-decorator {
    width: 90%;
  }
}
